#vday_window {
width:280px;
}
#vday_window_contents {
background:#fff url( vdayWindow_contents.png) no-repeat scroll center bottom;
font-family: Arial, Helvetica, sans serif;
font-size:12px;
}
#vday_window_contents div {
font-style:italic;
margin:0pt 10px;
}
#vday_window_tl {
background:transparent url(vdayWindow_tl.png) no-repeat scroll left top;
height:14px;
width:14px;
}
* html #vday_window_tl {
background-image:none;
}
#vday_window_t {
background:transparent url(vdayWindow_t.png) repeat-x scroll left top;
}
#vday_window_tr {
background:transparent url(vdayWindow_tr.png) no-repeat scroll left top;
height:14px;
width:14px;
}
* html #vday_window_tr {
background-image:none;
}
#vday_window_l {
background:transparent url(vdayWindow_l.png) repeat-y scroll left top;
width:3px;
}
#vday_window_r {
background:transparent url(vdayWindow_r.png) repeat-y scroll right top;
width:3px;
}
#vday_window_bl {
background:transparent url(vdayWindow_bl.png) no-repeat scroll left top;
height:14px;
width:14px;
}
* html #vday_window_bl {
background-image:none;
}
#vday_window_b {
background:transparent url(vdayWindow_b.png) repeat-x scroll left top;
}
#vday_window_br {
background:transparent url(vdayWindow_br.png) no-repeat scroll left top;
height:14px;
width:14px;
}
* html #vday_window_br {
background-image:none;
}
#vday_window_close {
background:transparent url(vdayWindow_close2.png) no-repeat scroll left top;
cursor:pointer;
height:72px;
width:76px;
margin-left: 25px;
margin-top: -20px;
}
* html #vday_window_close {
background-image:none;
}
#vday_window_beak {
background:transparent url(vdayWindow_beak.png) no-repeat scroll left top;
height:37px;
width:27px;
}
* html #vday_window_beak {
background-image:none;
}
