html, body {
 width: 100%;
 height: 100%;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
div#timeline {
 position: absolute;
 top: 0px;
 bottom: 60%;
 width: 100%;
 font-size: 12px;
}

div#mapcontainer {
 position: absolute;
 bottom: 0;
 height: 60%;
 width: 100%;
}

div#map {
 width: 100%;
 height: 100%;
}

div#legend {
 position: absolute;
 top: 255px;
 left: 5px;
 width: 100px;
 font-size: 12px;
 background: #EEEEEE;
 border: 1px solid #CCCCCC;
 padding: 5px;
}

